html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// START: undo TailwindCSS preflight styling
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

ol,
ul {
  list-style: revert;
  margin-left: 18px;
}

blockquote {
  border-left: 2px solid;
  font-size: 1.25rem;
  font-style: italic;
  margin: 1rem 0;
  padding-left: 2rem;
}

// END: undo TailwindCSS preflight styling
